.header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .category {
      justify-self: center;
      background-color: transparent;
      border: none;

      &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        align-items: center;
        border-bottom: 1px solid var(--primary-color--100);
        color: var(--font-color);
        padding-bottom: 1.2rem;
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        min-width: 10rem;
      }
    }
  }
  .icons {
    align-items: center;
    display: flex;
    margin-top: 1.6rem;
    justify-content: space-between;

    strong {
      font-size: var(--font-heading--3);
    }

    .button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      align-items: center;
      border-radius: 999px;
      display: flex;
      height: 4.8rem;
      justify-content: center;
      width: 4.8rem;

      img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 999px;
      }

      svg {
        height: 4.8rem;
        width: 4.8rem;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .heading {
      font-weight: 600;
      font-size: var(--font-heading--1);
    }

    .paragraph {
      font-size: var(--font-paragraph--smaller);
      opacity: 0.7;
    }
  }
}
