@use "../../../styles/variables";
@use "../../../styles/mixins";

.page {
  display: grid;
  grid-template-rows: 8rem 10rem 1fr;
  height: 100vh;
}

.board {
  background-color: var(--bg-grey);
  padding: 3.2rem;

  grid-row-start: 3;
}
