@use "../../../styles/variables";
@use "../../../styles/mixins";

.page {
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 15rem 20rem 1fr 10rem;
  height: 100vh;
  padding-inline: 1.2rem;
  max-width: 100%;
}

.board {
  background-color: var(--bg-grey);
  padding: 3.2rem;

  grid-row-start: 3;
  width: 90vw;
}
