@use "../../../styles/variables";
@use "../../../styles/mixins";

.page {
  background-color: var(--primary-color);
  height: 100vh;
  max-width: 100vw;
  padding-inline: 1.2rem;
  width: 100%;

  display: grid;
  grid-template-rows: 15rem 15rem 1fr 7rem;

  @include mixins.responsive(sm) {
    grid-template-rows: 15rem 15rem 1fr 10rem;
  }

  .board {
    padding: 0.8rem;
    margin-top: 1.2rem;
    overflow: hidden;
    width: 100%;

    .heading {
      font-size: var(--font-heading--3);
      font-weight: 500;
    }
  }
}
