@use "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .group {
    display: flex;
    gap: 1.6rem;

    .type__task {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem;
    }
    .todo {
      background-color: var(--bg-azure--hover);
      border: 3px solid var(--bg-azure);
      border-radius: 16px;
      cursor: pointer;

      &--active {
        background-color: var(--bg-azure);
      }
    }

    .progress {
      background-color: var(--bg-yellow--hover);
      border: 3px solid var(--bg-yellow);
      border-radius: 16px;
      cursor: pointer;

      &--active {
        background-color: var(--bg-yellow);
      }
    }

    .done {
      background-color: var(--bg-pink--hover);
      border: 3px solid var(--bg-pink);
      border-radius: 16px;
      cursor: pointer;

      &--active {
        background-color: var(--bg-pink);
      }
    }
  }

  .tasks {
    display: flex;
    gap: 1.6rem;
    max-width: 55rem;
    padding-bottom: 3.2rem;
    overflow-x: auto;
  }
}
