@use "../../../../styles/mixins";

.calendar {
  background-color: var(--primary-color--400);
  height: fit-content;
  margin-top: 0.8rem;
  width: 100%;

  @include mixins.responsive(sm) {
    padding: 1.6rem;
    margin-top: 0.8rem;
  }

  &__month {
    align-items: center;
    display: flex;
    font-size: var(--font-heading--1);
    justify-content: space-between;
    margin-bottom: 3.2rem;

    @include mixins.responsive(sm) {
      margin-bottom: 6.4rem;
    }

    button {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 4.8rem;
      justify-content: center;
      width: 4.8rem;
    }
  }

  &__weekdays {
    display: flex;

    .weekday {
      text-align: center;
      font-weight: bold;
      width: 100%;
    }
  }

  &__week {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    p {
    }

    .empty__day {
      width: 100%;
    }

    .day {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: var(--font-heading--1);
      gap: 0.4rem;
      padding: 0.4rem;
      margin-block: 0.4rem;
      width: 100%;
      text-align: center;

      @include mixins.responsive(sm) {
        gap: 0.8rem;
        padding: 1.2rem;
      }

      &:hover {
        color: var(--bg-button);
      }
    }

    .active__today {
      background-color: var(--bg-pastel--green);
      border-radius: var(--border-radius--lg);

      &:hover {
        color: white;
      }
    }

    .active__picked {
      background-color: var(--primary-color--200);
      border-radius: var(--border-radius--lg);

      &:hover {
        color: white;
      }
    }
  }
}
