@use "../../styles/variables";
@use "../../styles/mixins";

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  border-radius: variables.$border-radius--lg;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  transition: background-color 0.3s;
  width: 16rem;

  @include mixins.responsive(lg) {
    padding: 0.8rem 1.6rem;
  }

  &.delete {
    background-color: var(--bg-error);

    &:hover {
      background-color: var(--bg-error--hover);
    }
  }

  &.cancel {
    background-color: var(--bg-button);

    &:hover {
      background-color: var(--bg-button--hover);
    }
  }
}
