@use "../../styles/variables";

.button {
  border: none;
  background-color: var(--bg-button);
  border-radius: var(--border-radius--sm);
  color: white;
  cursor: pointer;
  font-size: var(--font-button);
  font-weight: bold;
  height: 4rem;
  transition: all 0.3s;
  width: 100%;

  &:hover {
    background-color: var(--bg-button--hover);
  }
}
