//   FONT-SIZE
.content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 1.2rem;
  margin-top: 1.6rem;

  &__heading {
    font-size: var(--font-paragraph--smaller);
  }

  button {
    font-size: var(--font-button);
  }
}

.button__fonts-size {
  align-items: center;
  background-color: var(--bg-grey-dark);
  border-radius: 8px;
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  width: fit-content;

  .button__font-size {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--active {
      color: #4455cf;
      font-weight: bold;
    }
  }
}
