.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  strong {
    font-size: var(--font-heading--3);
    font-weight: 500;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  p {
    font-size: var(--font-paragraph--smaller);
    font-weight: 300;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
