@use "../../styles/variables";
@use "../../styles/mixins";

html {
  overflow-y: hidden;
}

.modal-overlay {
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 90;
}

.modal-content {
  background-color: var(--bg-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-block: 4rem;
  padding-inline: 0.8rem;
  position: relative;
  min-width: 40rem;
  max-width: 66rem;
  height: fit-content;
  max-height: 45rem;
  overflow-y: auto;
  z-index: 100;

  @include mixins.responsive(sm) {
    min-width: 40rem;
    max-width: 66rem;
  }

  .icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--font-color);
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    z-index: 1000;
  }
}
