@use "../../styles/variables";

.heading {
  font-size: var(--font-heading--3);
}

.select {
  cursor: pointer;
  background-color: transparent;
  border-radius: variables.$border-radius--sm;
  border: 1px solid var(--bg-grey-dark);
  padding: 1.6rem;
  margin-top: 1.6rem;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__options {
    border: 1px solid var(--bg-grey-dark);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.8rem;
    width: 100%;
  }

  &__option {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--bg-button--hover);
    }
  }
}

.radio__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  strong {
    font-size: var(--font-heading--3);
  }

  .radio__selectors {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
}
