.tasks__name {
  border-radius: 16px;
  padding: 1.6rem;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }
}

.column {
  display: flex;
  flex-direction: column;
  // gap: 1.6rem;
  min-width: 60rem;

  .todo {
    background-color: var(--bg-azure);
  }

  .progress {
    background-color: var(--bg-yellow);
  }

  .done {
    background-color: var(--bg-pink);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  li {
    margin-top: 1.6rem;
    cursor: pointer;
  }
}

.add__task {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  height: 11.2rem;
  justify-content: center;
  margin-top: 1.6rem;
  width: 100%;

  p {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 3.2rem;
    height: 6.4rem;
    justify-content: center;
    transition: all 0.3s;
    width: 6.4rem;

    &[data-color="todo"] {
      border: dotted 3px var(--bg-azure);
      border-radius: 100%;
      color: var(--bg-azure);
    }

    &[data-color="progress"] {
      border: dotted 3px var(--bg-yellow);
      border-radius: 100%;
      color: var(--bg-yellow);
    }

    &[data-color="done"] {
      border: dotted 3px var(--bg-pink);
      border-radius: 100%;
      color: var(--bg-pink);
    }
  }

  &:hover p {
    transform: scale(1.05);
    &[data-color="todo"] {
      border: dotted 3px var(--bg-azure--hover);
      color: var(--bg-azure--hover);
    }

    &[data-color="progress"] {
      border: dotted 3px var(--bg-yellow--hover);
      color: var(--bg-yellow--hover);
    }

    &[data-color="done"] {
      border: dotted 3px var(--bg-pink--hover);
      color: var(--bg-pink--hover);
    }
  }
}
