@use "../../../styles/variables";
@use "../../../styles/mixins";

.tasks {
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
  overflow-x: auto;
  padding-bottom: 1.6rem;

  // scrollbar-color: var(--secondary-color) var(--primary-color--400);

  &::-webkit-scrollbar {
    height: 1rem;
    background-color: var(--primary-color--700);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color--500);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color--300);
  }
}
