@use "../../../styles/variables";
@use "../../../styles/mixins";

.tasks {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;

  @include mixins.responsive(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  &__name {
    border-radius: 16px;
    padding: 1.6rem;
    text-align: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    // gap: 1.6rem;
    width: 100%;

    .todo {
      background-color: variables.$bg-azure;
    }

    .progress {
      background-color: variables.$bg-yellow;
    }

    .done {
      background-color: variables.$bg-pink;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    li {
      margin-top: 1.6rem;
      cursor: pointer;
    }
  }

  .add__task {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    height: 11.2rem;
    justify-content: center;
    margin-top: 1.6rem;
    width: 100%;

    p {
      align-items: center;
      background-color: transparent;
      display: flex;
      font-size: 3.2rem;
      height: 6.4rem;
      justify-content: center;
      transition: all 0.3s;
      width: 6.4rem;

      &[data-color="todo"] {
        border: dotted 3px variables.$bg-azure;
        border-radius: 100%;
        color: variables.$bg-azure;
      }

      &[data-color="progress"] {
        border: dotted 3px variables.$bg-yellow;
        border-radius: 100%;
        color: variables.$bg-yellow;
      }

      &[data-color="done"] {
        border: dotted 3px variables.$bg-pink;
        border-radius: 100%;
        color: variables.$bg-pink;
      }
    }

    &:hover p {
      transform: scale(1.05);
      &[data-color="todo"] {
        border: dotted 3px variables.$bg-azure--hover;
        color: variables.$bg-azure--hover;
      }

      &[data-color="progress"] {
        border: dotted 3px variables.$bg-yellow--hover;
        color: variables.$bg-yellow--hover;
      }

      &[data-color="done"] {
        border: dotted 3px variables.$bg-pink--hover;
        color: variables.$bg-pink--hover;
      }
    }
  }
}
