@use "../../../styles/variables";
@use "../../../styles/mixins";

.tasks {
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
  overflow-x: auto;
  padding-bottom: 1.6rem;

  @include mixins.scroll();
}
