@use "../../../styles/variables";
@use "../../../styles/mixins";

.section {
  height: 80vh;
  overflow-y: auto;
  padding-inline: 1.2rem;

  &::-webkit-scrollbar {
    height: 1rem;
    background-color: var(--primary-color--600);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color--500);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color--300);
  }
}

.modal__heading {
  font-weight: bold;
  font-size: var(--font-heading--2);
}

.error {
  color: var(--bg-error);
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding-top: 2.4rem;

  .select {
    height: 4.8rem;
    border-radius: var(--border-radius--sm);
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding-left: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
  }
}
