@use "../../styles/variables";
@use "../../styles/mixins";

.container {
  .button__container {
    display: flex;
    gap: 1.6rem;
    width: 100%;
  }

  .button {
    border: none;
    border: 1px solid var(--bg-grey-dark--hover);
    background-color: transparent;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    width: 100%;
  }
}

.calendar__weekdays {
  display: flex;

  .weekday {
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
}

.calendar {
  background-color: var(--bg-grey);
  height: fit-content;
  margin-top: 0.4rem;
  padding: 0.8rem;
  width: 100%;

  @include mixins.responsive(md) {
    background-color: var(--primary-color--300);
  }

  @include mixins.responsive(sm) {
    padding: 0.4rem;
    margin-top: 0.8rem;
  }

  &__month {
    align-items: center;
    display: flex;
    font-size: var(--font-heading--1);
    justify-content: space-between;
    margin-bottom: 1.6rem;

    button {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 4.8rem;
      justify-content: center;
      width: 4.8rem;
    }
  }

  &__weekdays {
    display: flex;

    .weekday {
      text-align: center;
      font-weight: bold;
      width: 100%;
    }
  }

  &__week {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    p {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      cursor: pointer;
      font-size: var(--font-heading--1);
      padding: 0.4rem;
      margin-block: 0.4rem;
      width: 100%;
      text-align: center;

      @include mixins.responsive(sm) {
        margin-block: 0.4rem;
        padding: 0.4rem;
      }

      &:hover {
        color: var(--bg-button);
      }
    }
    .active__from {
      background-color: var(--bg-button--hover);
      border-top-left-radius: var(--border-radius--lg);
      border-bottom-left-radius: var(--border-radius--lg);

      &:hover {
        color: white;
      }
    }

    .active__to {
      background-color: var(--bg-button--hover);
      border-top-right-radius: var(--border-radius--lg);
      border-bottom-right-radius: var(--border-radius--lg);

      &:hover {
        color: white;
      }
    }

    .active__between {
      background-color: var(--bg-button--hover);
      border-radius: 0px;
      color: black;

      &:hover {
        color: white;
      }
    }
  }
}
