// TYPOGRAPHY
:root {
  --font-heading--1: 2.4rem;
  --font-heading--2: 2rem;
  --font-heading--3: 1.8rem;

  --font-button: 1.8rem;

  --font-paragraph: 1.6rem;
  --font-paragraph--smaller: 1.4rem;
}

body.small-font {
  --font-heading--1: 2rem;
  --font-heading--2: 1.8rem;
  --font-heading--3: 1.6rem;

  --font-button: 1.4rem;

  --font-paragraph: 1.5rem;
  --font-paragraph--smaller: 1.3rem;
}

body.medium-font {
  --font-heading--1: 2.4rem;
  --font-heading--2: 2rem;
  --font-heading--3: 1.8rem;

  --font-button: 1.6rem;

  --font-paragraph: 1.6rem;
  --font-paragraph--smaller: 1.4rem;
}

body.large-font {
  --font-heading--1: 2.8rem;
  --font-heading--2: 2.4rem;
  --font-heading--3: 2rem;

  --font-button: 2rem;

  --font-paragraph: 1.7rem;
  --font-paragraph--smaller: 1.5rem;
}

// COLORS
// LIGHT THEME
:root {
  --primary-color: #f4f7fd;
  --secondary-color: #ffffff;
  --primary-color--300: #dbdfe7;
  --primary-color--400: #e0e4ea;
  --primary-color--500: #e5e8ee;
  --primary-color--600: #eff1f4;

  --bg-button: #4455cf;
  --bg-button--hover: #7a88f3;
  --bg-azure: #0ad2f7;
  --bg-azure--hover: #92e4f3f9;
  --bg-yellow: #f6a60d;
  --bg-yellow--hover: #f4bb51;
  --bg-pink: #de3c5f;
  --bg-pink--hover: #fc6787;
  --bg-grey: #e5e3f5;
  --bg-grey-dark: #d0d0dd;
  --bg-grey-dark--hover: #bcbcc4;
  --bg-error: #ce1818;
  --bg-error--hover: #df3a3a;
  --bg-succeed: #4bb543;
  --bg-succeed--hover: #6dc766;

  --font-color: #2b2c37;
  --font-color--darkBg: #ffffff;

  // RADIUS
  --border-radius--sm: 4px;
  --border-radius--md: 8px;
  --border-radius--lg: 16px;
}

// DARK THEME
body.dark {
  --primary-color: #20212c;
  --secondary-color: #2b2c37;
  --primary-color--300: #4b4c55;
  --primary-color--400: #62636b;
  --primary-color--500: #7a7b82;
  --primary-color--600: #93949a;

  --bg-button: #4455cf;
  --bg-button--hover: #7a88f3;
  --bg-azure: #0ad2f7;
  --bg-azure--hover: #92e4f3f9;
  --bg-yellow: #f6a60d;
  --bg-yellow--hover: #f4bb51;
  --bg-pink: #de3c5f;
  --bg-pink--hover: #fc6787;
  --bg-grey: #3e3f4e;
  --bg-grey-dark: #828fa3;
  --bg-grey-dark--hover: #e4ebfa;
  --bg-error: #ce1818;
  --bg-error--hover: #df3a3a;

  --font-color: #f0f0f0;
}
