@use "../../../styles/variables";
@use "../../../styles/mixins";

.modal-overlay {
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem;
  padding-top: 4rem;
  position: relative;
  width: 30rem;
  max-height: 45rem;
  overflow-y: auto;

  @include mixins.responsive(sm) {
    padding: 4rem;
    min-width: 40rem;
    max-width: 66rem;
  }

  .icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    z-index: 1000;
  }
}
