@use "../../../globals/variables";

.modal-overlay {
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 4rem;
  min-width: 40rem;
  max-width: 66rem;
  max-height: 45rem;
  overflow-y: auto;
}
