@use "../../../../globals/variables";

.modal__heading {
  font-weight: bold;
  font-size: variables.$font-heading--2;
}

.error {
  color: variables.$bg-error;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  .select {
    height: 4.8rem;
    border-radius: variables.$border-radius--sm;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding-left: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
  }
}

.subtasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .subtask {
    display: flex;
    justify-content: center;

    .subtask__remove {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .subtask__add {
    background-color: transparent;
    background-color: variables.$bg-grey;
    border: none;
    border-radius: variables.$border-radius--sm;
    cursor: pointer;
    font-size: variables.$font-button;
    font-weight: bold;
    height: 4rem;
    transition: all 0.3s;

    &:hover {
      background-color: variables.$bg-grey-dark;
    }
  }
}

.radio__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  strong {
    font-size: variables.$font-heading--3;
  }

  .radio__selectors {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
}
