@use "../../../../styles/variables";

.modal__heading {
  font-weight: bold;
  font-size: variables.$font-heading--2;
}

.error {
  color: variables.$bg-error;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.subtasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .subtask {
    display: flex;
    justify-content: center;

    .subtask__remove {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .subtask__add {
    background-color: transparent;
    background-color: variables.$bg-grey;
    border: none;
    border-radius: variables.$border-radius--sm;
    cursor: pointer;
    font-size: variables.$font-button;
    font-weight: bold;
    height: 4rem;
    transition: all 0.3s;

    &:hover {
      background-color: variables.$bg-grey-dark;
    }
  }
}

.select {
  cursor: pointer;
  background-color: transparent;
  border-radius: variables.$border-radius--sm;
  border: 1px solid variables.$bg-grey-dark;
  padding: 1.6rem;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__options {
    border: 1px solid variables.$bg-grey-dark;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.8rem;
    width: 100%;
  }

  &__option {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: variables.$bg-button--hover;
    }
  }
}

.radio__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  strong {
    font-size: variables.$font-heading--3;
  }

  .radio__selectors {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
}
