@use "../../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 15rem);
  overflow-y: auto;
  padding: 0.8rem;

  @include mixins.responsive(md) {
    max-height: 100%;
  }

  .heading {
    font-size: var(--font-heading--1);
    font-weight: bold;
    margin-bottom: 2.4rem;
  }

  .button {
    border: none;
    background-color: transparent;

    align-items: center;
    border-bottom: 1px solid var(--bg-grey-dark);
    cursor: pointer;
    color: var(--font-color);
    font-size: var(--font-button);
    display: flex;
    justify-content: space-between;
    padding-block: 0.4rem;
    width: 100%;
  }
}
