@use "../../../styles/variables";

.container {
  position: fixed;
  bottom: 6rem;
  right: 1rem;

  background-color: var(--primary-color--600);
  border-radius: var(--border-radius--md);
  padding: 1.6rem;
  height: 90%;
  width: 36rem;

  .list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__empty {
      color: var(--primary-color--300);
      text-align: center;
      margin-top: 3.4rem;

      svg {
        margin-top: 1.2rem;
      }
    }
  }
}
