@use "../../../styles/mixins";

.container {
  position: relative;
  height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;

  .button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    font-size: var(--font-heading--1);
    position: absolute;

    @include mixins.responsive(lg) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: color 0.3s;

      &:hover {
        color: var(--bg-button--hover) !important;
      }
    }
  }
  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 1.6rem;

    &.open {
      justify-content: flex-end;
      flex-direction: row;
      margin-right: 0.8rem;
    }

    .profile__icon {
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;

      img {
        border-radius: 999px;
        width: 3.6rem;
      }
    }

    .profile__button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      background-color: var(--bg-grey);
      border-radius: 999px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      width: fit-content;

      transition: color 0.3s;

      &:hover {
        color: var(--bg-button--hover) !important;
      }
    }
  }
}
