@use "./styles/reset";
@use "./styles/variables";
@use "./styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Rubik";
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: var(--font-paragraph);
}

button {
  font-family: inherit;
}
