@use "../../styles/variables";
@use "../../styles/mixins";

.board {
  background-color: variables.$bg-grey;
  border-radius: variables.$border-radius--lg;
  height: 100%;
  padding: 3.2rem;
  margin-top: 5%;
  max-width: 140rem;

  @include mixins.responsive(sm) {
    margin-inline: 10%;
  }

  @include mixins.responsive(xl) {
    margin-inline: auto;
  }
}
