.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: 300px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__category {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    h2 {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}
