@use "../../globals/variables";
@use "../../globals/mixins";

.board {
  background-color: variables.$bg-grey;
  border-radius: 16px;
  padding: 3.2rem;
  margin-inline: 10%;
  margin-top: 5%;

  .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.6rem;

    button {
      border: none;
      background-color: transparent;
    }

    svg {
      background-color: variables.$bg-grey-dark;
      border-radius: 2px;
      cursor: pointer;
      padding: 0.4rem;
      transition: all 0.3s;

      &:hover {
        background-color: variables.$bg-grey-dark--hover;
      }
    }

    .text {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      &::first-letter {
        text-transform: uppercase;
      }

      strong {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .tasks {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;

    @include mixins.responsive(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;
    }

    &__name {
      border-radius: 16px;
      padding: 1.6rem;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;

      .todo {
        background-color: variables.$bg-azure;
      }

      .progress {
        background-color: variables.$bg-yellow;
      }

      .done {
        background-color: variables.$bg-pink;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    .add__task {
      align-items: center;
      background-color: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      height: 11.2rem;
      width: 100%;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 3.2rem;
        height: 6.4rem;
        transition: all 0.3s;
        width: 6.4rem;

        &[data-color="todo"] {
          border: dotted 3px variables.$bg-azure;
          border-radius: 100%;
          color: variables.$bg-azure;

          &:hover {
            border: dotted 3px variables.$bg-azure--hover;
            color: variables.$bg-azure--hover;
          }
        }

        &[data-color="progress"] {
          border: dotted 3px variables.$bg-yellow;
          border-radius: 100%;
          color: variables.$bg-yellow;

          &:hover {
            border: dotted 3px variables.$bg-yellow--hover;
            color: variables.$bg-yellow--hover;
          }
        }

        &[data-color="done"] {
          border: dotted 3px variables.$bg-pink;
          border-radius: 100%;
          color: variables.$bg-pink;

          &:hover {
            border: dotted 3px variables.$bg-pink--hover;
            color: variables.$bg-pink--hover;
          }
        }
      }
    }
  }
}
