@use "../../globals/variables";

.board {
  background-color: variables.$bg-grey;
  border-radius: 16px;
  padding: 3.2rem;
  margin-inline: 10%;
  margin-top: 5%;

  .date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.6rem;

    svg {
      background-color: variables.$bg-grey-dark;
      border-radius: 2px;
      cursor: pointer;
      padding: 0.4rem;
      transition: all 0.3s;

      &:hover {
        background-color: variables.$bg-grey-dark--hover;
      }
    }

    .text {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      &::first-letter {
        text-transform: uppercase;
      }

      strong {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .tasks {
    display: flex;
    gap: 3.2rem;
    justify-content: space-around;

    p {
      border-radius: 16px;
      padding: 1.6rem;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .todo {
      background-color: variables.$bg-azure;
    }

    .progress {
      background-color: variables.$bg-yellow;
    }

    .done {
      background-color: variables.$bg-pink;
    }
    .column {
      width: 100%;
    }
  }
}
