@use "../../globals/variables";

.button {
  align-items: center;
  background-color: variables.$bg-button;
  border: none;
  border-radius: 16px;
  color: white;
  display: flex;
  gap: 2.4rem;
  padding-block: 1.6rem;
  padding-inline: 20%;
  transition: all 0.3s;

  &:hover {
    background-color: variables.$bg-button--hover;
  }

  .text {
    flex-grow: 1;
  }

  .icon {
    padding: 0.4rem;
    background-color: variables.$bg-button--hover;
    border-radius: 3px;
  }

  .number__tasks {
    padding: 0.4rem;
    background-color: variables.$bg-button--hover;
    border-radius: 3px;
  }
}
